PORT=3000
CONNECTION_STRING=mongodb+srv://vaghelameghrajsinh96_db_user:AFvt3KErt094tdfr@youtube.lhoabgj.mongodb.net/
PASSWORD=AFvt3KErt094tdfr
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET= FFKDJOEFEJR4849848_&%%hDFDFJFJJMVJOFNV
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=JDFNOFDNKNWERJERIJOIIE37E88903JJSKCK
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=my_cloud_name
CLOUDINARY_API_KEY=my_key
CLOUDINARY_API_SECRET=my_secret
